/* *********************** */
/* CUSTOM CARD GROUP */
/* *********************** */
.custom-card_container .card-deck {
  margin-bottom: 70px;
}

.custom-card_container .card {
  border: none;
}

.custom-card_container .card .card-body {
  padding: 15px;
}

.custom-card_container .card .more-details_btn {
  background: none;
  border: 2px solid #1d2b57;
  padding: 5px 18px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 3px;
  color: #1d2b57;
}

.custom-card_container .card .card-text {
  color: #636363;
  font-size: 15px;
}

.custom-card_container .card .card-text:first-child {
  margin-bottom: 5px;
}

.custom-card_container .card-title {
  color: black;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.custom-card_container .card-title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 45px;
  background-color: black;
}

/* *********************** */
/* SHORT CENTERED HEADER UNDERLINE */
/* *********************** */
.short_underline {
  position: relative;
}   

.short_underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 60px;
  height: 4px;
  background-color: #1e2b57;
}  

.section_header {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  color: #1e2c57;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}  

.section_sub-header {
  color: #1e2c57;
  text-align: center;
  width: 100%;
  font-size: 17px;
  margin-bottom: 80px;
}  

.section_footer_btn button {
  margin-top: -35px;
  padding: 12px 45px;
  border-radius: 0;
  background-color: #f4b467;
  font-weight: bold;
}  

/* *********************** */
/* HEADER */
/* *********************** */
/* Header above navbar */
.header_working-hours > div,
.header_call-us > div {
  font-size: 12px;
  text-align: left;
  color: #535353;
}

.header_working-hours .working-hours_time,
.header_call-us .call-us_phone {
  font-size: 16px;
}

/* Navbar */
.navbar_right-end-items i {
  margin: 0 6px;
}

.navbar_right-end-items a {
  color: white;
}

.navbar_right-end-items a:hover {
  color: #f4b467;
  text-decoration: none;
}

.navbar_right-end-items button {
  font-size: 14px;
  padding: 3px 12px;
  border-radius: 1px;
  color: white;
  font-weight: bold;
  background-color: #f4b467;
}

.navbar {
  background-color: #1e2c57;
  border-radius: 5px;
  color: white;
  padding: 3px 15px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 2.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #f4b467;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  position: relative;
}

.navbar-light .navbar-nav .active > .nav-link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  right: 0;
  width: 70%;
  margin: 0 auto;
  height: 4px;
  background-color: #f4b467;
}

@media all and (max-width: 991px){
  .navbar-light .navbar-nav .active > .nav-link:before {
    bottom: 0;
    width: 50px;
    margin: initial;
  }
    
}

/* Menu toggler icon */
.navbar-light .navbar-toggler {
  color: #f4b467;
}

/* *********************** */
/* LEARN MORE */
/* *********************** */
.section_learn-more h2 {
  position: relative;
}  

.section_learn-more h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 70px;
  height: 4px;
  background-color: #f4b467;
}  

.section_learn-more .learn-more_man-container img {
  margin-top: -60px;
}

/* *********************** */
/* OUR SERVICES */
/* *********************** */
.section_our-services {
  padding: 45px 0;
}  

.our-serices_box {
  margin-bottom: 70px;
}  

.our-serices_box_img {
  margin-right: 15px;
}  

.our-serices_box_header {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 18px;
}  

.our-serices_box_text {
  font-size: 15px;
}  

/* *********************** */
/* OUR SERVICES */
/* *********************** */

/* *********************** */
/* INDUSTRIES SERVING */
/* *********************** */
.section_industries-serving {
  padding: 25px 0;  
}

/* *********************** */
/* NEWS AND EVENTS */
/* *********************** */
.section_news-events {
  padding: 65px 0;
}

/* *********************** */
/* FIRST FOOTER */
/* *********************** */
.section_first-footer {
  padding: 125px 0 70px;
}

.section_first-footer a {
  color: white;
}

.section_first-footer a:hover {
  color: #f4b467;
}

.first-footer_column {
  margin-bottom: 40px;
  color: white;
}

.first-footer_column h6 {
  font-size: 15px;
}

.first-footer_column h4 {
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  font-size: 21px;
}

.first-footer_column h4:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 60px;
  background-color: #1e2c57;
}

.first-footer_column p {
  font-size: 14px;
  margin-bottom: 10px;
}

.first-footer_social-icons span {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #1d2a55;
  border-radius: 100%;
  font-size: 19px;
}

/* *********************** */
/* SECOND FOOTER */
/* *********************** */
.section_second-footer {
  padding: 125px 0 70px;
}

.section_second-footer a {
  color: black;
}

.section_second-footer h4 {
  color: #000100;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.section_second-footer h4:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 75px;
  height: 3px;
  background-color: #000100;
}

.lined-row {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.lined-row .col {
  font-size: 15px;
}

.section_second-footer .footer-tags {
  background-color: #1e2c57;
  color: white;
  font-size: 10px;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 3px;
}

/* *********************** */
/* FOOTER */
/* *********************** */
footer .container {
  border-top: 4px solid black;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 15px;
  color: #2d2d2d;
}

footer a {
  color: #2d2d2d;
  margin-left: 10px;
}